<div class="main" id="main">
  <div class="section">
            <div class="container">
                <div class="row">
                    <div id="first">
                        <div class="col-sm-6 col-md-6">
                            <h2>Ciljevi Udruge</h2>
                            <p>
                                Udruga se zalaže za promicanje zajedništva studenata Zaprešića, skrb za poštivanje studentskih prava, 
                                poticanje i unapređenje kulturnih, zabavnih, sportskih i edukativno-istraživačkih djelatnosti studenata. 
                                Udruga se zalaže i za zaštitu socijalnog statusa studenata te radi na povezivanju s organizacijama 
                                na visokim učilištima ali i izvan njih kako bi pridonijela lakšem ostvarivanju navedenih ciljeva.
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <h2>Članovi Udruge</h2>
                            <p>
                                Želiš se učlaniti u Udrugu? <a href="https://docs.google.com/forms/d/e/1FAIpQLSe0XdU-0Hmxxh9sqBa-D2P8Yv_n4u7_hUjY5h_U69mjWOIcsw/viewform" target="_blank">Učlani se ovdje</a>.
                                <br><br>
                                Članovi Udruge mogu biti redovni, izvanredni i počasni. Redovni članovi Udruge mogu postati 
                                svi studenti s prebivalištem na području grada Zaprešića ili okolnih općina. Izvanredni članovi 
                                mogu postati sve punoljetne osobe u Republici Hrvatskoj koje poštuju Statut i ciljeve Udruge, 
                                a počasno članstvo dodjeljuje Skupština osobama koje su svojim djelovanjem iznimno doprinijele Udruzi.
                            </p>
                        </div>
                        <div class="col-md-12">
                        <div class="col-md-6 col-sm-6 col-xs-12 no-padding">
                            <h2>Studenti Zaprešića</h2>
                            <p>
                                U akademskoj godini 2015./2016. 
                                u Zaprešiću su prebivalište imala 954 studenta, što čini oko 4% populacije Zaprešića, slično kao i na državnoj razini.
                                Broj studenata u Zaprešiću pokazuje trend stabilnosti tijekom godina, premda je od akademske godine 2014./2015. uočen blagi pad.
                            </p>
                            <p>
                                Oko 70% zaprešićkih studenata studira na sveučilištima, oko 25% na veleučilištima te 5% na visokim školama. Najviše studenata iz Zaprešića upisano je na Sveučilište u Zagrebu, a slijede Veleučilište Baltazar Zaprešić, Tehničko veleučilište u Zagrebu i Zdravstveno veleučilište Zagreb (cijeli popis po upisanom studiju možete naći <a href="http://goo.gl/St1WKU" target="_blank">ovdje</a>). U Zaprešiću je nešto više studentica nego studenata, s 55% naprema 45%. 
                            </p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 no-padding correct img-correct">
                        </div>
                        </div>
                        <div class="col-xs-12">
                        <div class="col-sm-6 col-md-6 povijest-fix">
                            <h2>Povijest Udruge</h2>
                            <p>
                                Udruga studenata grada Zaprešića osnovana je 28. travnja 2009. godine kao prvi registrirani
                                 oblik udruživanja studenata s područja grada Zaprešića. Osnivači Udruge bili su Miljenko Bulaš 
                                 (predsjednik), Tibor Horvat (podpredsjednik) i Andrija Ivančić (tajnik). Udruga je sudjelovala u 
                                 organiziranju događaja zabavnog sadržaja za studente te se zalagala za poštivanje studentskih prava.
                                 <br><br>
                                 2015. godine izabran je novi Upravni odbor, nakon čega Udruga proširuje svoje djelovanje pokretanjem 
                                 projekata i povezivanjem s drugim organizacijama na lokalnoj i međunarodnoj razini.
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-6 ustrojstvo-xs-fix">
                            <h2>Ustrojstvo Udruge</h2>
                            <p>
                                Udruga ima dva tijela: Skupštinu i Upravni odbor.
                                <br><br>
                                Skupštinu čine svi redovni članovi Udruge i ona donosi Statut Udruge, bira članove Upravnog odbora i imenuje počasne članove, nadzire rad Udruge i bavi se drugim pitanjima određenima aktima Udruge.
                                <br>
                                Upravni odbor se sastoji od predsjednika, potpredsjednika i tajnika Udruge te dva člana koje bira Skupština. Upravni odbor vodi aktivnosti Udruge između sjednica Skupštine poput poslovanja i upravljanja sekcijama i odborima Udruge i odlučuje o pitanjima određenima aktima Udruge. Članove Upravnog odbora možete vidjeti na <a href="membership.php">stranici članstva</a>.
                                <br><br>
                                Statut i ostale dokumente vezane za ustrojstvo i rad udruge možete naći u <a href="https://www.dropbox.com/sh/j7c9bu2hmxukjtl/AABxSY0VtOc6jJox6Km1BnkGa?dl=0" target="_blank">repozitoriju dokumenata</a>.
                            </p>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
