<div id="main" id="main">
        <div class="section">
            <div class="container">
                <div class="row">
                    <h1 class="text-primary padding-fix">Aktualni projekti</h1>
                    <div class="col-md-6">
                        <h2>Orijentacijske tribine za maturante Srednje škole Ban Josip Jelačić</h2>
                        <p>Tribine čiji je cilj <strong>pomoći maturantima</strong> u izboru studija, <strong>olakšati pripremu</strong> za studije te <strong>ubrzati
                         integraciju</strong> na studij, što sve zajedno može poboljšati učinkovitost studenata grada Zaprešića.
                        </p>
                        <button class="button-toggle" id="button-toggle1" (click)="toggleText('text1', 'button-toggle1')">Pročitaj više <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                        <div id="text1" class="animated">
                            <br>
                            Udruga studenata grada Zaprešića održava Orijentacijske tribine za 
                            maturante Srednje škole Ban Josip Jelačić. Tribina ima tri cilja: 
                            pomoći maturantima u odabiru studija, olakšati im upise i ubrzati njihovu integraciju na 
                            studij. Opći cilj je <strong>smanjiti razdoblje privikavanja</strong> na studij i <strong>poboljšati učinak</strong> studenata u Zaprešiću.
                            <br><br>
                            Upoznavanje 
                            budućih studenata sa detaljima studija  dugoročno može smanjiti broj studenata koji 
                            odustaju od studija ili se prebacuju na neki drugi. Smatramo da je od 
                            iznimne važnosti upoznati maturante s informacijama koje mogu saznati samo <strong>iz prve ruke</strong>.
                            <br><br> Evaluacija tribina 
                            odvija se pod mentorstvom dr. sc. Vesne Buško, red. prof. s Katedre za psihometriju Filozofskog fakulteta u Zagrebu.
                            Tribine su organizirane na način da zaprešićki studenti s različitih studija za koje su maturanti iskazali najveći interes predavanjima prenose svoja iskustva sa studija. Nakon predavanja maturanti mogu postavljati pitanja studentima.
                            <br><br>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 projects-img no-padding hidden-sm hidden-xs"></div>
                    <div class="col-md-12">
                    <div class="col-md-6 col-sm-6 projects-img2 hidden-sm hidden-xs"></div>
                    <div class="col-md-6 sm-fix">
                        <h2 class="top-fix top-sm-fix">Razvoj sustava ciljanog stipendiranja studenata grada Zaprešića</h2>
                        <p>Izrada novog, modernog načina stipendiranja čiji je cilj <strong>suzbiti pojavu deficitarnih zanimanja</strong> za koje je potrebno visoko obrazovanje i povećati motivaciju studenata.
                        </p>
                        <button class="button-toggle" id="button-toggle2" (click)="toggleText('text2', 'button-toggle2')">Pročitaj više <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                        <div id="text2" class="animated">
                            <br>
                            Mnogi gradovi i općine uveli su pozitivnu praksu stipendiranja deficitarnih zanimanja. Međutim, takva se stipendiranja uvijek odnose na stipendiranje učenika srednjih škola. Kroz projekt Razvoj sustava ciljanog stipendiranja studenata grada Zaprešića, Udruga studenata grada Zaprešića želi prenijeti ovakvu praksu i na visoko obrazovanje. 
                            <br><br>
                            Uvođenjem stipendija za deficitarne studije s jedne će se strane utjecati na <strong>povećanje motivacije</strong> studenata deficitarnih studija, odnosno potaknut će ih se da se zadrže na studiju i da ga ne napuštaju ukoliko naiđu na poteškoće, a s druge strane će se utjecati na <strong>sprječavanje pojave određenih vrsta deficitarnih zanimanja</strong> u strukama za koje je potrebno visoko obrazovanje. Deficitarna zanimanja, odnosno studiji određeni su korištenjem statističkih testova.
                            <br><br>
                            Ovaj projekt financiran je sredstvima Grada Zaprešića.<img src="img/obligatorni_logo.jpg"><br><br>
                        </div>
                    </div>
                    </div>
                    
                    <div class="col-md-12">
                        <h1 class="text-primary">Suradnje i partnerstva na projektima</h1>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6 no-padding">
                            <h2>Centar za mladež Zaprešić</h2>
                            <p>
                                Udruga studenata grada Zaprešića surađuje sa Centrom za mladež Zaprešić na projektima <strong>Lokalni volonterski centar Zaprešić</strong> i <strong>Info centar za mlade</strong>. Cilj ovih projekata je potaknuti volonterstvo u gradu Zaprešiću i osigurati kvalitetan izvor informacija o događanjima za mlade.
                            </p>

                            <button class="button-toggle" id="button-toggle3" (click)="toggleText('text3', 'button-toggle3')">Pročitaj više <i class="fa fa-angle-down" aria-hidden="true"></i></button>

                            <div id="text3" class="animated">
                                <h3>Info centar za mlade</h3>
                                Udruga studenata grada Zaprešića sudjeluje na ovom projektu kao partner. Opći cilj projekta je jačanje kapaciteta lokalne zajednice za rad s mladima kako bi se unaprijedio sustav informiranja i savjetovanja mladih. Specifični ciljevi usmjereni su na razvitak mladih u lokalnoj zajednici i njihovo sudjelovanje u istoj. Projektom je predviđeno informiranje, savjetovanje i edukacija mladih predavanjima i osobnim kontaktom kao i digitalnim putem.
                                <br><br>
                                Projekt traje od 1. studenog 2016. do 31. srpnja 2017. godine, a voditeljica projekta je Anamarija Juroš. Ostali partneri i suradnici su: Grad Zaprešić, Hrvatski zavod za zapošljavanje, Udruga Zamisli, SŠ Ban Josip Jelačić, Udruga IKS, Savjet mladih grada Zaprešića, Gradska knjižnica Ante Kovačića Zaprešić i Mreža udruga Zagor.
                                <br><br>
                                Projekt je financiran uz financijsku podršku Ministarstva za demografiju, obitelj, mlade i socijalnu politiku.
                                <br><br>
                                <img src="http://www.mspm.hr/img/mu_logo.png" width="50%">
                                <br><br>
                                Detaljno o projektima pročitajte na 
                                <a href="http://www.czmz.hr/novi_czmz/" target="_blank">stranicama Centra za mladež Zaprešić</a>.
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6 projects-img3 hidden-sm hidden-xs">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6 col-xs-6 projects-img4 hidden-sm hidden-xs">
                        </div>
                        <div class="col-md-6 top-fix sm-fix">
                            <h2>International Peace Youth Group</h2>
                            <p>
                                Udruga studenta grada Zaprešića surađuje s korejskom udrugom International Peace Youth Groupom (IPYG), koja svojim djelovanjem želi doprinijeti miru u svijetu. Udruga studenata grada Zaprešića u kolovozu 2016. organizirala je u Mojo Blues Cafe/Galeriji prikupljanje potpisa za Deklaraciju o miru i prestanku ratovanja, kojom bi se na globalnoj razini <strong>smanjila proizvodnja oružja i ulaganje u vojsku</strong> te bi se zabranila upotreba kemijskog i nuklearnog oružja. Više pročitajte na <a href="http://ipyg.org/" target="_blank">stranicama IPYG-a</a>.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6 no-padding">
                            <h2>Udruga Z.O.V. Zaprešić</h2>
                            <p>
                                Udruga studenta grada Zaprešića surađuje s udrugom Z.O.V. 
                                na projektima čiji je cilj <strong>poticati međugeneracijsku solidarnost</strong>.
                            </p>

                            <button class="button-toggle" id="button-toggle4" (click)="toggleText('text4', 'button-toggle4')">Pročitaj više <i class="fa fa-angle-down" aria-hidden="true"></i></button>

                            <div id="text4" class="animated">
                                <br>
                                Udruga studenata grada Zaprešića pruža pomoć Udruzi Z.O.V. u organizacijskim aspektima okruglog stola o međugeneracijskoj 
                                solidarnosti te pridonosi medijskoj popraćenosti projekta. Također, Udruga studenata grada Zaprešića pomaže Udruzi Z.O.V. 
                                naći studente-volontere za projekt dodatne edukacije predškolske djece kroz zabavne aktivnosti, a osim toga planirane su 
                                druge zajedničke aktivnosti (npr. nordijsko hodanje).
                                <br><br>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6 projects-img5 hidden-sm hidden-xs">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <h1 class="text-primary">
                            Projekti u razvoju
                        </h1>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4 no-padding sm-fix2">
                            <h2>Zaposli me!</h2>
                            <p>
                                U suradnji sa Savjetom mladih Grada Zaprešića, Udruga studenata grada Zaprešića radi na kreiranju 
                                <strong>internetskog portala koji bi povezivao studente i poslodavce s područja Zaprešića</strong> i omogućavao im lakše međusobno pronalaženje.
                            </p>
                        </div>
                        <div class="col-md-4 no-padding sm-fix">
                            <h2>Centar za razvoj akademskih vještina</h2>
                            <p>
                                Projekt čiji je cilj <strong>unaprijediti akademske i karijerne vještine studenata</strong> grada Zaprešića kroz niz radionica koje provode stručnjaci.
                            </p>
                        </div>
                        <div class="col-md-4 sm-fix">
                            <h2>Koliko plaćam svoj pokaz?</h2>
                            <p>
                                Projekt i medijska kampanja čija je svrha izboriti se za <strong>smanjenje (pre)visoke cijene studentskog pokaza</strong> za ZET za zaprešićke studente.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>