<div id="main" id="main">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 contact">
                        <h2>Kontakt</h2>
                        <ul class="about-list">
                            <li>Naziv Udruge: Udruga studenata grada Zaprešića</li>
                            <li>Adresa: Antuna Mihanovića 42, Zaprešić</li>
                            <li>E-mail Udruge: <a href="mailto:info@usgz.hr">info@usgz.hr</a></li>
                            <li>E-mail predsjednika Udruge: <a href="mailto:info@usgz.hr">predsjednik@usgz.hr</a></li>
                            <li>E-mail potpredsjednika Udruge: <a href="mailto:info@usgz.hr">podpredsjednik@usgz.hr</a></li>
                            <li>Facebook: 
                            <a href="http://facebook.com/USGZap" target="_blank">fb.com/USGZap</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 contact">
                        <h2>Ostali podaci</h2>
                        <ul class="about-list">
                            <li>OIB: 17525439088</li>
                            <li>Registarski broj Udruge: 01002179</li>
                            <li>IBAN: HR9824020061100753585 (Erste & Steiermärkische banka)</li>
                            <li>RNO broj: 0104724</li>
                            <li>Matični broj: 02537036</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</div>