<div class="main" id="main">
<div class="section">
            <div class="container">
                <div class="row">
                    <h2 class="padding-fix home-fix">Novosti u Udruzi</h2>
                    <div class="col-md-6">
                        <h3>Provedba projekta Lokalni info centar za mlade</h3>
                        <p>
                            Počela je provedba projekta Lokalni info centar za mlade. Projekt provodi Centar za mladež Zaprešić a Udruga studenata grada Zaprešića sudjeluje kao partner. Cilj projekta je jačanje kapaciteta lokalne zajednice za rad s mladima kako bi se unaprijedio sustav informiranja i savjetovanja mladih. Informacije o projektu možete naći na stranici <a href="http://www.czmz.hr/novi_czmz/">Centra za mladež grada Zaprešića</a> ili na našoj <a href="projects.php">stranici projekata</a> u rubrici partnerski projekti.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Izvanredna sjednica Skupštine</h3>
                        <p>
                            U subotu, 3.12.2016. godine održana je izvanredna sjednica Skupštine naše udruge. Na sjednici je predstavljen i izglasan plan rada za nadolazeću godinu. U 2017. godini Udruga će sudjelovati u nekolicini korisnih i zanimljivih projekata i aktivnosti. Na <a routerLink="/projekti">stranici projekata</a> možete vidjeti opise trenutnih projekata, kao i onih kojima ćemo se baviti u budućnosti.
                        </p>
                    </div>
                    </div>
            </div>
      </div>
      <div class="section">
                <div class="container">
                    <div class="row projekti">
                        <div class="col col-md-4 col-sm-4 col-xs-12 index-big-link">
                            <div>
                            <i class="fa fa-handshake-o big-icon" aria-hidden="true"></i>
                            </div>
                            <h2>Učlani se</h2>
                            <p>
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSe0XdU-0Hmxxh9sqBa-D2P8Yv_n4u7_hUjY5h_U69mjWOIcsw/viewform" target="_blank">
                                Postani član/ica Udruge
                                </a> i pridruži se prvom studentskom udruženju u Zaprešiću.
                            </p>
                        </div>
                        <div class="col col-md-4 col-sm-4 col-xs-12 index-big-link">
                            <div>
                            <i class="fa fa-lightbulb-o big-icon" aria-hidden="true"></i>
                            </div>
                            <h2>Pomogni nam idejama</h2>
                            <p>
                                Zajedno možemo pomoći drugima i sebi. Znaš kako pomoći zaprešićkim studentima? <a href="http://facebook.com/USGZap" target="_blank">Javi nam se na <i class="fa fa-facebook-official" aria-hidden="true"></i></a>.
                            </p>
                        </div>
                        <div class="col col-md-4 col-sm-4 col-xs-12 index-big-link">
                            <div>
                            <i class="fa fa-line-chart big-icon" aria-hidden="true"></i>
                            </div>
                            <h2>Sudjeluj u projektima</h2>
                            <p>
                                Sudjeluj u 
                                <a routerLink="/projekti">
                                projektima Udruge
                                </a>
                                i naših partnera i budi dio tima koji mijenja studentsku zajednicu u Zaprešiću nabolje.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <h2 class="padding-fix">Pomažući zajednici, pomažemo i sebi</h2>
                    <div class="col-md-6">
                        <p>
                            Studiranje predstavlja razdoblje života, ali i način života. Mnogi bivši studenti će, prisjećajući se s nostalgijom vremena studiranja, reći kako je ono najbolji dio mladosti. Smatram da kao studenti možemo uživati u mogućnostima koje nam se pružaju. Učimo i razvijamo se, izlazimo, zabavljamo se, imamo mogućnost studentskog zapošljavanja, jeftinu hranu u studentskim menzama i jeftiniji javni prijevoz. Mladi smo i nikad slobodniji, pametniji, odlučniji. Imam pozitivan stav o studiranju i mislim da isti dijelim s većinom studenata.
                            <br><br>
                            Ipak, ponekad nam okolnosti ukažu na probleme kojih dotad nismo ni bili svjesni. Kad sam upisivao fakultet, nisam znao što me očekuje. Nisam znao da me čeka održavanje predavanja na četiri, pet lokacija, nisam očekivao određene tipove kolegija. Raspitivao sam se kako bih saznao što više korisnih informacija, ali unatoč tome neke stvari dočekale su me nespremnog.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p>
                            Razgovarajući o ovakvim i sličnim situacijama s ostalim studentima, razvila se ideja da poduzmemo nešto kako se iste stvari ne bi opetovano događale novim generacijama studenata, i kako bi olakšali studiranje postojećim studentima. Postali smo aktivni u našim ciljevima kroz Udrugu. Smatramo da razmišljanjem o vlastitim problemima i rješavanjem istih možemo pomoći drugima.
                            <br><br>
                            Zato dijelimo korisne informacije i savjete budućim studentima, zalažemo se za lakše zapošljavanje studenata na području Zaprešića, pokušavamo pripremiti studente za prilike koje ih čekaju nakon studija i surađujemo s lokalnim i međunarodnim udrugama u cilju zajedničkog napretka. Naša misija je pomoći studentskoj zajednici u Zaprešiću, pružiti im još više mogućnosti i olakšati im studentski život. Zato što pomažući zajednici, pomažemo i sebi.
                            <br><br><br class="visible-md visible-lg">
                            <i>Hrvoje Husnjak<br>
                            <small>potpredsjednik Udruge studenata grada Zaprešića</small></i>
                        </p>
                    </div>
                    </div>
                </div>
            </div>
</div>